.link {
  color: white;
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
}

.link:hover {
  cursor: pointer;
  color: orange;
}

.back {
  font-weight: bold;
}

.linkStandard {
  color: white;
  text-decoration: none;
}

.linkStandard:hover {
  color: orange;
  cursor: pointer;
}

.helpLink {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.helpLink:hover {
  cursor: pointer;
  color: orange;
}

.helpLinkStandard, .bookmarkLink {
  font-weight: bold;
  color: white;
}

.helpLinkStandard:hover {
  cursor: pointer;
  color: orange;
}

.bookmarkLink:hover {
  cursor: pointer;
  color: orange;
}

.bookmarkLink {
  text-decoration: none;
}
