.list {
  position: fixed;
  right: 0;
  margin-top: 48px;
  color: white;
  height: auto;
  width: 195px;
  z-index: 10;
  background-color: rgba(20, 20, 20, 1);
  text-align: center;
  border-bottom-left-radius: 10px;
}

ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
