.list {
  position: fixed;
  right: 0;
  margin-top: 48px;
  color: white;
  height: auto;
  width: 185px;
  z-index: 10;
  background-color: rgba(30, 30, 30, 1);
  text-align: center;
}

ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}
