#editProfileContainer {
  padding-top: 60px;
  font-family: arial;
  color: white;
  background-color: rgba(30, 30, 30, 1);
}

#editProfileTitle {
  margin: 0 auto 30px auto;
  display: flex;
  width: 50%;
}

.titleImgContainer {
  width: 30%;
}

.titleText {
  font-size: 50px;
  font-weight: bold;
  margin: auto;
}

.titleTextContainer {
  width: 70%;
  margin: auto;
}

#editUserDetails, #changePassword {
  width: 50%;
}

.profileForm, .changePasswordForm {
  padding: 10px;
  font-family: arial;
  width: 97.5%;
  margin-left: 2.5%;
}

.changePasswordForm {
  margin-right: 2.5%;
}

.accountFieldText {
  margin: 8px 0 20px 0;
}

#editUserDetailsTitle, #changePasswordTitle, #deleteAccountTitle, #permissionDetailsTitle {
  font-family: arial;
  font-size: 30px;
  margin-bottom: 40px;
}

#submit, #submitChangePassword {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
}

#editProfileFormContainer {
  width: 100%;
  display: flex;
}

#idImg {
  width: 80%;
  padding-right: 20px;
}

.formDividers {
  width: 2.5%;
}

.left {
  border-left: solid 1px white;
}

.right {
  border-right: solid 1px white;
}

#deleteAccountContainer {
  margin-left: 2.5%;
}

.manageAccountRow, .permissionDetailsHeading{
  display: flex;
}

.permissionDetailsContainer {
  width: 50%;
  padding: 10px;
}

.permissionDetails {
  margin: 0 auto 0 auto;
  width: 65%;
}

#permissionDetailsTitle {
  margin: auto 0;
}

.rowImg {
  width: 50%;
  margin: auto;
}

.profileDetailsImg {
  width: 60%;
  margin: auto 20% auto 20%;
}

.changePasswordImg {
  width: 35%;
  margin: auto 32.5% auto 32.5%;
}

.permissionImg {
  width: 20%;
  mergin-right: 2% !important;
}


.listWithBullets {
  padding: 2px 0;
  list-style: disc;
}
