.helpTitleContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.helpTitleImgContainer {
  width: 30%;
}

.helpTitleImg {
  width: 70%;
}

.helpTitle {
  width: 70%;
  font-size: 50px;
  font-weight: bold;
  margin: auto 0;
}

.helpLink {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.helpLink:hover {
  cursor: pointer;
  color: orange;
}

.helpLinkStandard {
  font-weight: bold;
  color: white;
}

.helpLinkStandard:hover {
  cursor: pointer;
  color: orange;
}

.helpLinkContainer {
  margin: auto 0;
}

.helpIndex {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.helpIndexList {
  display: flex;
}

.helpIndexListColumn {
  width: 50%;
}

.helpImg {
  width: 20%;
  margin: 0 5% 0 10%;
}

.helpListItem, .sideBarListItem {
  display: flex;
  width: 70%;
  margin: 20px auto;
}

#sideBar {
  position: fixed;
  z-index: 1;
}

.sideBarListItem {
  width: 90%;
  margin: 20px auto;
}

.helpSectionSpacing {
  margin-top: 30px;
  margin-bottom: 30px;
}

.helpContainer {
  display: flex;
}

.helpSideBar {
  width: 20%;
  position: fixed;
  z-index: 1;
  background-color: rgba(20, 20, 20);
  height: 100%;
}

.helpContent {
  width: 65%;
  margin-left: 25%;
  margin-right: 10%;
}

table {
  border-spacing: 0;
}

td, th {
  padding: 10px 5px;
  text-align: center;
  width: 15%;
  border: 1px solid white;
  background-color: rgb(40, 40, 40)
}

ol > li {
  margin: 15px 0;
}

#sideBarTitleImg {
  width: 50%;
  margin: 40px 25% 0 25%;
}

#sideBarTitle {
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  margin: auto;
}

.sideBarLinks {
  width: 80%;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.sideBarLinks:hover {
  color: orange;
  cursor: pointer;
}

.screenshot {
  width: 80%;
  margin: 10px 10%;
  border: 1px solid black;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.19);
}

.spacedParagraph {
  margin: 20px 0;
}
