.loadingBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.4);
  z-index: 2;
}

.loadingIconContainer {
  width: fit-content;
  margin: 20% auto 0 auto;
}

.loadingIcon {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingLabel {
  font-size: 23px;
  font-family: arial;
  position: relative;
  top: -90px;
  left: 28px;
}

.signUpLabel {
  left: 20px;
}

.loginLabel {
  left: 23px;
}
