body{
  height: 100%;
  margin: 0;
  background-color: rgb(30, 30, 30);
}



#root {
  height: 100%;
  margin: 0;
}

.componentContainer{
  padding-top: 65px;
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: arial;
  height: 100%;
}

.title-large {
  font-size: 40px;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

.title-large-left {
  font-size: 40px;
  text-align: left;
  width: 30%;
  margin-left: 1%;
  margin-right: 69%;
}

.title-medium-left {
  font-size: 20px;
  text-align: left;
  width: 30%;
  margin-left: 1%;
  margin-right: 69%;
}

.form {
  margin: 0 10% 0 10%;
}

.bottomSpacing {
  margin-bottom: 30px;
}

.sectionSpacing {
  margin: 30px 0px 30px 0px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}
