#questionView {
  padding: 60px 10px 5px 10px;
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: arial;
  height: 100%
}

#questionViewTitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#answersTitle {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 5px;
  padding: 5px;
  width: 86%;
}

#answerHeadings {
  display: flex;
  border-bottom: solid 1px white;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

#numberHeader {
  width: 10%;
}

#descriptionHeader {
  width: 50%;
}

#correctAnswerHeading {
  width: 15%;
  text-align: center;
}

#optionsHeader {
  width: 25%;
}

#answers {
  width: 100%
}

.answerContainer {
  display: flex;
  padding: 10px 5px 10px 5px;
  border-bottom: solid 1px white

}

.ansNumber {
  width: 10%;
}

.ansDecription {
  width: 50%;
}

.correctAns {
  width: 15%;
  text-align: center;
}

.ansOptions {
  width: 25%;

}

/* .edit {
  width: 50%;
}

.deleteOption {
  width: 50%;
} */
