#questionView {
  /* padding: 60px 10px 5px 10px;
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: arial;
  height: 100% */
}

#questionViewTitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: auto;
  margin: 30px 0px;
}

.questionViewTitle {
  font-size: 40px;
  text-align: center;
  width: 95%;
  margin: 30px 2.5%;
}

.questionViewTitleAlt {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: auto;
  margin: 30px 0px;
}

.questionFormArea {
  display: flex;
  margin: 0 10px;
}

.questionForm, .questionImageArea {
  width: 50%;
}

.questionDetailsContainerLarge{
  display: flex;
  width: 90%;
  margin: 10px auto;
  padding: 10px 5px 10px 5px;
}

.questionDetailsContainer{
  display: flex;
  width: 50%;
  margin: 10px auto;
  padding: 10px 5px 10px 5px;
}

.questionDetailsHeading {
  width: 30%
}

.questionDetailsContent {
  width: 70%
}

.preview {
  /* width: 100%; */
  margin: 20px auto;
  max-height: 350px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.19);
}

.imgPreview, .imgView {
  width: fit-content;
  margin: auto;
}

.deleteImg {
  width: fit-content;
  margin: 5px auto;
}

.imgPlaceholderContainer {
  border: 1px inset rgb(60, 60, 60);
  border-radius: 5px;
  height: 200px;
  width: 100%;
  margin: 20px 0px;
}

.placeholderImg {
  padding: 10%
}

.placeholderImgContainer {
  font-size: 70px;
  height: 80%;
}

.placeholderBackground {
  height: 20%;
  padding: 0 10px;
}

.placeholderBackground, .placeholderImgContainer {
  color: rgb(90, 90, 90);
  text-align: center;
}

#answersTitle {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 5px;
  padding: 5px;
  width: 86%;
}

#answerHeadings {
  display: flex;
  /* border-bottom: solid 3px white; */
  /* font-weight: bold; */
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

#numberHeader {
  width: 10%;
}

#descriptionHeader {
  width: 50%;
}

#correctAnswerHeading {
  width: 13%;
  text-align: center;
}

#optionsHeader {
  width: 25%;
}

#answers {
  width: 100%
}

.answerContainer {
  display: flex;
  padding: 10px 5px 10px 5px;
  /* border-bottom: solid 1px white */
}

.ansNumber {
  width: 10%;
}

.ansDecription {
  width: 50%;
}

.correctAns {
  width: 13%;
  text-align: center;
}

/* .ansOptions {
  width: 25%;

} */

/* .edit {
  width: 50%;
}

.deleteOption {
  width: 50%;
} */
