.quizIntroTitle {
  font-size: 70px;
  font-weight: bold;
  width: 80%;
  margin: 150px 10%;
  text-align: center;
  position: absolute;
  top: -300px;
  animation: slideDown 1.5s forwards;
}

@keyframes slideDown {
  100% { top: 0; }
}

@keyframes fadeImgIn {
  100% { opacity: 1; }
}

.quizIntroImgContainer, .quizIntroDescription {
  width: 55%;
  margin: 13% auto 0 auto;
  text-align: center;
}

.quizIntroDescription {
  margin: 30px auto;
}

.quizIntroImg {
  width: 100%;
  margin: 0;
  opacity: 0;
  animation: fadeImgIn 2.5s forwards;
}

#quizStartContainer {
  display: flex;
}

.questionDetailsContainer{
  width: 50%;
}

.questionDetailsContainerAdjusted{
  width: 35%;
}

#questionImageContainer {
  width: 30%;
  margin-top: 30px;
}

.quizQuestionImg {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

.imgWrapper {
  width: fit-content;
  margin: auto;
}

#quizStartTitle {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.radioInput {
  margin-right: 10px;
}

#pickAnswerForm {
  margin-left: 15%;
  margin-top: 50px;
  margin-right: 20px;
}

.answerFormContainer {
  width: 50%;
}

.answerFormContainerAdjusted {
  width: 35%;
}

.buttonContainer {
  width: fit-content;
  margin: 20px auto 0 auto;
}

img {
  width:auto;
  margin-left: 10%;
  margin-right: 10%;
}

#quizBot2 {
  margin-left: 15%;
}

#quizResult {
  margin: 50px 5% 0px 5% !important;
  width: 90%;
  font-weight: bold;
}

.quizButton-right .quizButton-left {
  margin: 10px;
}
