#quiz {
  padding-top: 65px;
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: arial;
  height: 100%
}

#quizTitle {
  font-size: 40px;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

#questionsTitle {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 5px;
  padding: 5px;
}

.questionContainer {
  width: 100%;
  display: flex;
  padding: 10px 5px 10px 5px;
  border-bottom: solid 1px white;
}

.questionNumber {
  width: 20%;
}

.questionDescription {
  width: 55%;
}
