#quizStartContainer {
  display: flex;
}

.questionDetailsContainer{
  width: 50%;
}

.questionDetailsContainerAdjusted{
  width: 35%;
}

#questionImageContainer {
  width: 30%;
  margin-top: 30px;
}

.quizQuestionImg {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

.imgWrapper {
  width: fit-content;
  margin: auto;
}

#quizStartTitle {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#questionContainer {
  padding: 10px;
  background-color: rgb(50, 50, 50);
  width: 75%;
  border-right: solid 5px rgb(179, 136, 221);
  border-radius: 5px;

  margin-top: 50px;
  margin-left: 20px;
}

#questionContainer::after {
  content: '';
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: -40px;
    left: 280px;
    border-width: 30px 30px 0 0;
    border-style: solid;
    border-color: rgb(50, 50, 50) transparent;
    display: block;
    width: 0;
}

#answerContainer {
  padding: 10px;
  background-color: rgb(50, 50, 50);
  border-left: solid 5px rgb(255, 135, 80);
  border-radius: 5px;
  margin-bottom: 30px;
}

#answerContainer::after {
  content: '';
  margin-top: -30px;
  padding-top: 0px;
  position: relative;
  bottom: -40px;
  left: 20px;
  border-width: 30px 0 0 30px;
  border-style: solid;
  border-color: rgb(50, 50, 50) transparent;
  display: block;
  width: 0;
}

.radioInput {
  margin-right: 10px;
}

#pickAnswerForm {
  margin-left: 15%;
  margin-top: 50px;
  margin-right: 20px;
}

.answerFormContainer {
  width: 50%;
}

.answerFormContainerAdjusted {
  width: 35%;
}

.buttonContainer {
  margin-top: 20px;
}

img {
  width:auto;
  margin-left: 10%;
  margin-right: 10%;
}

#quizBot2 {
  margin-left: 15%;
}

#quizResult {
  margin: 50px 20% 0px 20% !important;
  width: 60%;
  font-weight: bold;
}

.quizButton-right {
  margin-left: 5%;
  margin-right: 10%
}

.quizButton-left {
  margin-left: 14%;
  margin-right: 5%
}
