#quizSearch {
  height: 100%;
  padding: 60px 10px 10px 10px;
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: arial;
}

#quizSearchTitle {
  display: flex;
  font-size: 60px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#quizSearchTitleText {
  margin: auto;
  margin-left: 0px;
  font-weight: bold;
}

#searchTitleImg {
  margin: 0;
}

#resultHeader {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 5px;
  padding: 5px;
}

#resultsHeadings {
  border-bottom: solid 3px white;
  font-weight: bold;
}

#nameHeader {
  width: 23%;
}

#descriptionHeader {
  width: 50%;
}

#optionsHeader {
  width: 27%;
}

.quizContainer, #resultsHeadings {
  padding: 5px 5px 10px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.quizContainer {
  border-bottom: solid 1px white;
}

.quiz, #resultsHeadings {
  display: flex;
}

.quizName {
  width: 23%;
}

.quizDescription {
  width: 50%;
}

.options {
  width: 27%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5px;
  color: white;
  margin: auto;
}

#sectionDivider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.edit, .start, .view, .deleteOption {
  width: fit-content;
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.edit:hover, .start:hover, .view:hover, .deleteOption:hover {
  color: orange;
}

.blue {
  color: rgb(0, 104, 217);
}

.red {
  color: rgb(227, 79, 38);
}

.green {
  color: rgb(48, 186, 78)
}

#quizSearchForms {
  width: 90%;
  display: flex;
  margin: 50px auto 0 auto;
}

#quizSearchByName {
  width: 45%;
}

#quizSearchByCategory{
  width: 45%;
}

#divider-right {
  margin-right: 5%;
  border-left: solid 1px white;
}

#divider-left {
  margin-left: 5%;
  border-right: solid 1px white;
}

/* .start {
  color: rgb(0, 104, 217);
}

.view {
  color: rgb(0, 104, 217);
} */

/* .delete {
  color: rgb(227, 79, 38);
  width: 25%;
  direction:rtl;
} */
