#quiz {
  /* padding: 65px 10px 5px 10px;;
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: arial;
  height: 100%; */
}

#quizTitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#quizDetailsContainer{
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.updateQuizForm {
  width: 70%;
  padding: 10px;
}

.updateQuizImg {
  width: 30%;
  margin: 0 5% 0 5%;
}

.quizStatusBadge {
  width: 40%;
  margin: 10px 30% 40px 30%;
  text-align: center;
}

.draftFlag {
  border: 2px #ffeeba solid;
  background-color: #fff3cd;
  padding: 5px;
  color: #856404;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 15px;
}

.readyFlag {
  border: 2px #c3e6cb solid;
  background-color: #d4edda;
  padding: 5px;
  color: #155724;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 15px;
}

#questionsTitle {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 5px;
  padding: 5px;
  width: 86%;
}

.addButton {
  font-size: 18px;
  font-weight: bold;
  margin-top: 63px;
  width: 14%;
}

.quizFormArea {
  display: flex;
}

.quizForm {
  width: 52%;
}

.quizImageArea {
  width: 47%;
}

.detailsContainer {
  display: flex;
  width: 50%;
  margin: 10px auto;
  padding: 10px 5px 10px 5px;
}

.detailsHeading {
  font-weight: bold;
}

.detailsContent {
  margin-left: 10px;
}

.headerContainer {
  display: flex;
}

#questionHeadings{
  display: flex;
  padding: 10px 5px;
  /* border-bottom: solid 3px white;
  font-weight: bold; */
}

#questionNumberHeader{
  width: 23%;
}

#questionDescriptionHeader{
  width: 50%;
}

#questionOptionsHeader{
  width: 27%;
}

.questionContainer {
  display: flex;
  padding: 10px 5px 10px 5px;
  /* border-bottom: solid 1px white; */
}

.questionNumber {
  width: 23%;
}

.questionDescription {
  width: 50%;
}
