.userDetailHeaders{
  display: flex;
  margin-top: 40px;
  font-weight: bold;
  padding: 5px;
}

.userDetails{
  display: flex;
  padding: 10px 5px;
}

.forename{
  width: 20%
}

.surname{
  width: 20%
}

.email{
  width: 30%
}

.permission{
  width: 15%
}

.verified{
  width: 15%
}

.forenameHeader{
  width: 20%
}

.surnameHeader{
  width: 20%
}

.emailHeader{
  width: 30%
}

.permissionHeader{
  width: 15%
}

.verifiedHeader{
  width: 15%
}
