.userDetailHeaders{
  display: flex;
  margin-top: 40px;
  font-weight: bold;
  padding: 5px;
}

.userDetails{
  display: flex;
  padding: 10px 5px;
}

.forename, .surname{
  width: 20%
}

.email{
  width: 30%
}

.permission, .verified, .deleteUser{
  width: 10%
}

.verified, .deleteUser {
  text-align: center;
}

.deleteUser:hover {
  color: orange;
  cursor: pointer;
}

.forenameHeader, .surnameHeader{
  width: 20%
}

.emailHeader{
  width: 30%
}

.permissionHeader, .verifiedHeader, .deleteUserHeader{
  width: 10%
}

.verifiedHeader {
  text-align: center;
}
